.faq-wrap {
  margin-top: 60px;
  padding: 20px 40px;
  background: rgba(240, 240, 240, 0.85);
}

.faq-title {
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 16px;
}

.faq-title-div {
  background: #2e75b6;
  width: 100%;
  height: 8px;
}

.faq-search {
  width: 360px;
  max-width: 90%;
  margin: 20px auto;
  display: flex;
}

.faq-search > * {
  background: none;
  border: none;
  color: #2e75b6;
}

.faq-search > input {
  flex: 1;
  border: 2px solid #2e75b6;
  padding: 0 12px;
  height: 40px;
  background: rgba(255, 255, 255, 0.8);
}
.faq-search > button {
  background: #2e75b6;
  color: white;
  padding: 0 12px;
}

.accordion {
  background-color: white;
  border: 2px solid #2e75b6;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  transition: all 0.4s;
  border-bottom: none;
  font-size: 16px;
}

.accordion > span {
  font-weight: bold;
}

.accordion.active {
  color: white;
  background-color: rgb(25, 156, 207);
}

.accordion:last-of-type {
  border-bottom: 2px solid #2e75b6;
}

.active,
.accordion:hover {
  background-color: #eee;
}

.active + .panel {
  padding: 20px;
  border: 2px solid #2e75b6;
  border-bottom: none;
}
.active + .panel:last-of-type {
  border-bottom: 2px solid #2e75b6;
}
.panel {
  padding: 0px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-out;
}
