.container {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  position: relative;
}

.centerBox {
  display: flex;
  width: 70%;
  margin: 40px auto 0;
  height: calc(100% - 240px);
}

.leftBox {
  display: flex;
  flex-direction: column;
}

.leftBox > div:last-child {
  margin-top: 20px;
}

.rightBox {
  display: flex;
  flex: 1 0;
  background: transparent;
}
