.container {
  background-image: url('https://user-images.githubusercontent.com/46181173/119224102-dc62f400-bb37-11eb-845c-bbe5a58b82b1.png');
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  filter: brightness(90%);
}

.centerBox {
  display: flex;
  width: 70%;
  margin: 40px auto 0;
}

.leftBox {
  display: flex;
  flex: 1 0;
}

.rightBox {
  display: flex;
  flex-direction: column;
}

.rightBox > div:last-child {
  margin-top: 20px;
}
