.paper-intro {
  margin-top: 60px;
  margin-left: 20px;
  background: rgba(13, 138, 196, 0.5);
  min-height: 50px;
  // box-shadow: 0 0 5px #335;
  flex: 1;
  margin-bottom: 60px;
}

.paper-wrap {
  padding: 60px;
}

.intro-title {
  color: rgba(255, 255, 255, 0.87);
  font-weight: normal;
  margin-bottom: 16px;
  font-size: 32px;
}
.intro-title-02 {
  color: rgba(255, 255, 255, 0.747);
  font-weight: normal;
  margin-top: 100px;
  margin-bottom: 16px;
  font-size: 32px;
}

.intro-first-wrap {
  background-color: rgba(255, 255, 255, 0.7);
  margin-bottom: 50px;
}

.intro-title-div {
  background: rgba(250, 148, 15, 0.63);
  height: 8px;
  width: 100%;
  margin-bottom: 16px;
}
.intro-text {
  margin: 30px 30px 0px 30px;
}
.intro-text > img {
  float: left;
  width: 500px;
  margin: 35px 15px 5px 0;
}
.text-cont {
  display: inline;
  font-size: 18px;
  padding: 1px;
  line-height: 180%;
  color: black;
  margin: 10px 10px 10px 10px;
  // text-shadow: 2px 2px 2px black;
}

.intro-inner-img {
  text-align: center;
}

.intro-inner-img img {
  width: 512px;
  height: 260px;
  padding: 10px;
}

.intro-drawing-img {
  text-align: center;
}
.intro-drawing-img img {
  width: 1024px;
  padding: 10px;
}
