.paper-intro {
  margin-top: 60px;
  margin-left: 20px;
  background: rgba(255, 255, 255, 0.9);
  min-height: 50px;
  // box-shadow: 0 0 5px #335;
  flex: 1;
  margin-bottom: 60px;
}

.paper-wrap {
  padding: 60px;
}
.intro-title {
  font-weight: normal;
  margin-bottom: 16px;
  font-size: 32px;
}
.intro-title-div {
  background: rgb(91, 155, 213);
  height: 8px;
  width: 100%;
  margin-bottom: 16px;
}
.intro-text {
  padding: 10px;
}
.intro-text > img {
  float: left;
  width: 500px;
  margin: 5px 10px 5px 0;
}
.text-cont {
  display: inline;
  font-size: 18px;
  padding: 10px;
  line-height: 180%;
}
