.place-wrap {
  margin-top: 60px;
  width: 100%;
  height: 100%;
  display: flex;
}

.place-map {
  // 48px + 620
  width: calc(100% - 668px);
  background: rgba(240, 240, 240, 0.85);
}

.place01 {
  width: 100%;
}

.map {
  position: absolute;
  left: 0;
  top: 0;
}
.place-img {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.place-img > div {
  position: relative;
  margin: 20px auto 0;
  width: 80%;
}

.place-time {
  width: 300px;
  margin: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: rgba(240, 240, 240, 0.85);
}
.time-title {
  width: 100%;
  height: 60px;
  background: #2e75b6;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.time-title > * {
  margin: 0 12px;
}
.time-title > p {
  width: 60px;
  background: #999;
  font-size: 15px;
  color: #666;
  padding: 6px 2px;
  cursor: not-allowed;
  border-radius: 8px;
  transition: all 0.2s;
}
.time-title > p.on {
  background: white;
  color: #2e75b6;
  cursor: pointer;
}
.time-title > p.on:hover {
  background: #174d80;
  color: white;
}

.time-wrap {
  width: calc(100% - 36px);
}

.time-consume {
  color: #2e75b6;
  margin-top: 16px;
  font-size: 17px;
  margin-bottom: 16px;
}

.time-table {
  border-top: 4px solid #2e75b6;
  background: white;
}

.time-table > li {
  height: 32px;
  padding: 6px;
  line-height: 32px;
  transition: all 0.2s;
  user-select: none;
}

.time-table > li.time-active {
  background: #2e75b6;
  color: white;
}
.time-table > li.time-active:hover {
  background: #105494;
  cursor: pointer;
}

.time-table > li.time-disable {
  background: #a83030;
  color: white;
}
.time-table > li.time-disable:hover {
  background: #912424;
}

.time-table > li:not(.time-active):not(.time-disable):hover {
  background: #ddd;
  cursor: pointer;
}

.time-alert {
  margin-top: 20px;
  color: red;
  font-size: 15px;
}

.place-info {
  width: 320px;
  display: flex;
  flex-direction: column;
}

.place-user {
  background: rgba(240, 240, 240, 0.85);
  height: 320px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.place-user > p > span {
  color: #2e75b6;
}

.place-history {
  border: 4px solid #2e75b6;
  border-left: none;
  border-right: none;
  flex: 1;
  margin: 10px 0;
  padding-top: 15px;
}

.place-history > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.place-history > div > div {
  display: flex;
  align-items: center;
  flex: 1;
  height: 36px;
}
.place-history > div > div > p:nth-of-type(1) {
  width: 50px;
  font-size: 15px;
  color: #777;
  text-align: center;
}
.place-history > div > div > p:nth-of-type(2) {
  flex: 1;
}
.place-history > div > div > p:nth-of-type(3) {
  font-size: 14px;
  color: #777;
  text-align: right;
  margin-right: 12px;
}
.place-history > div > p {
  width: 24px;
  height: 24px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  color: red;
}

.place-notice {
  margin-top: 20px;
  padding: 20px;
  height: 500px;
  display: flex;
  text-align: center;
  flex-direction: column;
  background: rgba(240, 240, 240, 0.85);
}

.place-notice > p > span {
  font-size: large;
  font-weight: 800;
}

.place-content {
  border-top: 4px solid #2e75b6;
  flex: 1;
  margin: 10px 0;
  padding-top: 15px;
  text-align: left;
}

.place-content > p {
  padding: 10px;
}

.image-map:hover {
  background: rgba(240, 240, 240, 0.85);
  cursor: pointer;
}

.image-map {
  position: absolute;
  transition: background 0.3s;
  border: none;
  outline: none;
  background: transparent;
}
.image-map.on {
  background: #2e75b6cc;
}

.time-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  color: #2e75b6;
  font-weight: bold;
}

.need-login {
  padding: 40px;
  background: #2e75b6;
  max-height: 100px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}

.need-login > p {
  font-size: 18px;
  margin: 16px;
}

.need-login > a {
  background: white;
  color: #2e75b6;
  margin: 10px;
  line-height: 30px;
}
