.contentBox {
  display: flex;
  width: 70%;
  margin: 40px auto;
}
.contentBox > div:first-child {
  box-shadow: 0 0 10px #888;
}
.paper-suggest {
  margin-left: 20px;
  min-height: 50px;
  // box-shadow: 0 0 5px #335;
  width: calc(100% - 320px);
  margin-bottom: 0;
}
