.loginBox {
  margin-top: 60px;
  padding: 30px;
  background: rgba(4, 109, 198, 0.6);
  width: 340px;
  float: left;
  height: 210px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.loginTitle {
  margin: 0;
  font-size: 14px;
  color: white;
}

.inputBox {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  box-sizing: border-box;
}

.loginInput {
  display: flex;
  flex-direction: column;
  margin-left: -2px;
  margin-right: 4px;
}

.loginInput > input {
  margin-bottom: 1px;
  border-radius: 0;
  width: 180px;
  border: 0;
  background-color: white;
  box-shadow: none;
  height: 36px;
  padding: 0 8px;
  outline: none;
}

.loggedin {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.loggedin-user {
  display: flex;
  justify-content: space-between;
}

.loggedin-place {
  margin-top: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
  color: #eee;
  font-size: 14px;
}

.place-status {
  flex: 1;
  border: 2px solid #fff;
  border-left: none;
  border-right: none;
  margin: 4px 0;
  padding: 4px;
}

.loginButton {
  width: 80px;
  height: 73px;
  flex-shrink: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background-color: #00b6ad;
  color: white;
  cursor: pointer;
}

.loginButton:hover {
  background: rgb(7, 149, 231);
}

.logout-button {
  background: white;
  border: none;
  border-radius: 4px;
  padding: 4px;
  cursor: pointer;
}

.logout-button:hover {
  background: rgb(7, 149, 231);
}
