* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body {
  overflow-y: scroll;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}

.background {
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("https://user-images.githubusercontent.com/46181173/120970075-e75b8c80-c7a5-11eb-889a-4c10a0bdc738.png");
}
